.col-my-left-1, .col-my-left-2, .col-my-left-3, .col-my-left-4, .col-my-left-5, .col-my-left-6, .col-my-left-7, .col-my-left-8, .col-my-left-9, .col-my-left-10, .col-my-left-11, .col-my-left-12 {
  float: left;
  padding: 10px;
}

.col-my-left-1::after, .col-my-left-2::after, .col-my-left-3::after, .col-my-left-4::after, .col-my-left-5::after, .col-my-left-6::after, .col-my-left-7::after, .col-my-left-8::after, .col-my-left-9::after, .col-my-left-10::after, .col-my-left-11::after, .col-my-left-12::after {
  content: "";
  display: block;
  clear: both;
}

.col-my-left-1 {
  width: 8.33333%;
}

.col-my-left-2 {
  width: 16.66667%;
}

.col-my-left-3 {
  width: 25%;
}

.col-my-left-4 {
  width: 33.33333%;
}

.col-my-left-5 {
  width: 41.66667%;
}

.col-my-left-6 {
  width: 50%;
}

.col-my-left-7 {
  width: 58.33333%;
}

.col-my-left-8 {
  width: 66.66667%;
}

.col-my-left-9 {
  width: 75%;
}

.col-my-left-10 {
  width: 83.33333%;
}

.col-my-left-11 {
  width: 91.66667%;
}

.col-my-left-12 {
  width: 100%;
}

.col-my-right-1, .col-my-right-2, .col-my-right-3, .col-my-right-4, .col-my-right-5, .col-my-right-6, .col-my-right-7, .col-my-right-8, .col-my-right-9, .col-my-right-10, .col-my-right-11, .col-my-right-12 {
  float: right;
  padding: 10px;
}

.col-my-right-1::after, .col-my-right-2::after, .col-my-right-3::after, .col-my-right-4::after, .col-my-right-5::after, .col-my-right-6::after, .col-my-right-7::after, .col-my-right-8::after, .col-my-right-9::after, .col-my-right-10::after, .col-my-right-11::after, .col-my-right-12::after {
  content: "";
  display: block;
  clear: both;
}

.col-my-right-1 {
  width: 8.33333%;
}

.col-my-right-2 {
  width: 16.66667%;
}

.col-my-right-3 {
  width: 25%;
}

.col-my-right-4 {
  width: 33.33333%;
}

.col-my-right-5 {
  width: 41.66667%;
}

.col-my-right-6 {
  width: 50%;
}

.col-my-right-7 {
  width: 58.33333%;
}

.col-my-right-8 {
  width: 66.66667%;
}

.col-my-right-9 {
  width: 75%;
}

.col-my-right-10 {
  width: 83.33333%;
}

.col-my-right-11 {
  width: 91.66667%;
}

.col-my-right-12 {
  width: 100%;
}

@media (max-width: 767px) {
  body::before {
    content: "xs";
    position: fixed;
    bottom: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #333;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid #fafafa;
    z-index: 2000;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  body::before {
    content: "sm";
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #333;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid #fafafa;
    z-index: 2000;
  }
}

@media (min-width: 992px) {
  body::before {
    content: "md";
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #333;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid #fafafa;
    z-index: 2000;
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "lg";
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #333;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid #fafafa;
    z-index: 2000;
  }
}

.page-header-stick .header-holder #nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .page-header-stick .header-holder #nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.page-header-stick .header-holder .logo a {
  text-align: center;
}

.page-header-stick .header-holder .logo a img {
  transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  height: 50px;
  width: 50px;
  margin: auto;
}

@media (max-width: 767px) {
  .page-header-stick .header-holder .logo a img {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}

.page-header-stick .header-holder .navbar .collapse {
  margin-top: 10px;
}

.page-header-stick .header-holder .navbar-search-form {
  padding-top: 10px;
}
/*# sourceMappingURL=framework.css.map */