@import "./help/mixin"; // 1
// page index



// header

.page-header-stick {
  .header-holder {
    #nav {
      justify-content: center;
      @include xs-media{
        justify-content: flex-end;
        }
    }
    .logo {
    //   margin-left: auto;
      a {
        text-align: center;
        img {
          @include scale(2, 2);
          height: 50px;
          width: 50px;
          margin: auto;
          @include xs-media{
          @include scale(1, 1);
          }
          
        }
      }
    }
    .navbar {
      .collapse {
        margin-top: 10px;
      }
    }
    .navbar-search-form {
      padding-top: 10px;
    }
  }
}


// page result 

